.modal.hide.fade#tos{:style => "display: none;"}
  .modal-header
    %a{:class => "close", :"data-dismiss" => "modal", :href => "#"}
      &times;
    %h3
      City of South San Francisco
    %h2
      Volunteer Agreement and Waiver 
      %br
      and Release of Liability
      %br Adopt a Storm Drain Program
  .modal-body
    %ol
      %li
        %h3
          Acceptance of Terms
        %p
          I fully understand that my participation as a volunteer in the for the City is entirely voluntary and I hereby acknowledge that I am voluntarily participating in this event and expressly agree to assume any such risks. In consideration for permitting me to participate as a volunteer, I hereby agree that:
      %li
        %h3
          Volunteer Status
        %p
          I am a volunteer and am not an employee of the City.  As a volunteer, I understand that I control the dates and times when I do the work, and that the City is not responsible for scheduling my volunteer work. As a result, I am not entitled to any form of compensation or employment benefit including, but not limited to, wages, salary, health insurance, or PERS benefits.  I understand and acknowledge that the City can terminate my status as a volunteer for the City at any time and for any reason.
        
      %li
        %h3
          Liability Waiver and Hold Harmless Agreement
        %p
          I shall indemnify, release, hold harmless, and defend the City of South San Francisco, its officers, employees, and agents from all liability and claims from any injury, damage, or loss, or from any other costs which may arise out of or in connection with any claims for bodily injury or property damage which may result from the volunteer services I perform or by my use of the City’s property and/or facilities in connection with the performance of said volunteer services.   I also agree, promise, and covenant not to sue, assert, or otherwise maintain or assert any claim against the City of South San Francisco, its officers, employees, or agents for any injury, death, illness, or disease, or damage arising from or connected with the volunteer services I have performed or may perform in the future.
      %li
        %h3
          Loss, Theft, and Damage
        %p
          I shall assume all risk of loss, theft, or damage to any of my personal property, equipment, or supplies arising from or connected with the volunteer services I perform for the City.  I shall reimburse the City for any loss, theft, or damage to any of the City’s property, equipment, or supplies arising from or connected with the volunteer services I perform for the City.
       
      %li
        %h3
          Use of Photo
        %p
          The City has my permission to use any photos or videos taken during my volunteer activities in order to promote the City, its programs, or events.

  .modal-footer
     %p
       I HAVE CAREFULLY READ THIS AGREEMENT AND WAIVER AND RELEASE OF LIABILITY AND FULLY UNDERSTAND ITS CONTENT AND MEANING
      
       Last updated August 10, 2011.
